doctype html
head
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
  include header.pug
style
  include home.css

.log
  h1 Full Logs
    .container-50
      .row
        .col-sm
          .card
            if(user_name)
              if(car_list != '' && time_list == '')
                  form(action="full_log/findTime", method="get")
                    select.custom-select(name="car_choice", onchange="this.form.submit()")
                      option(selected) Select Car
                      each variable in car_list
                        option(value=[variable.model,variable.id]) #{variable.model}
            
              else if(timelist != '' && car_list != '' )
                form(action="/full_log/got", method="get")
                  select.custom-select(name="car_choice")
                    option(value=car_data.id selected= true) #{car_data.model}
                  select.custom-select(name="time_choice")
                    option(selected) Select Read Time
                    each variable in time_list
                      option(value=variable.time) #{variable.time}
                  input.black(type='submit' name='look' )  
              else
                button#myButton.black.float-left.submit-button(onclick="location.href = 'https://smart-obd.herokuapp.com/full_log';") Another Search
      .row
        .col-sm
          table.table.table-striped
            tr
              if(car_data != undefined)
                each variable,result in car_data
                  if(variable != null)
                    tr
                      th= result
                      th= variable
                      


                



include footer.pug
